/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Importing icons from Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

/* Root Variables for Theme Management */
:root {
    --regular-heading: 'Montserrat', sans-serif;
    --regular-heading-weight: 400;
    --call-to-action: 'Roboto Slab', serif;
    --call-to-action-weight: 100;
    --body: 'Open Sans', sans-serif;
    --body-weight: 300;
    --quotes: 'Playfair Display', serif;
    --quotes-weight: 400;
    --primary-red: #D21034;
    --primary-white: #FFFFFF;
    --primary-black: #000000;
    --primary-green: #007229;
}



/* Universal Styles */
* {
    font-family: var(--body);
    font-weight: var(--body-weight);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Page Container */
.page-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;


}



/* Body Style */
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-white);
}



/* Header and Navigation Styles */

.navbar-icon-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    gap: 20px;
    margin: 0;
    text-transform: uppercase;
}




.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    height: 3.3125rem;
    background: var(--primary-white);
}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
}

.navbar-icons {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 1rem .5625rem .8125rem;

}

.navbar-icons .nav-icon i {
    color: var(--primary-black);
    margin: 0;
    font-size: 1.25rem;
    vertical-align: middle;

}

.navbar-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.navbar-brand img {
    max-height: 3rem;
    height: auto;
    width: auto;
    object-fit: contain;
    margin-left: 0;
}

.navbar-toggle #closeMenu {
    display: none;
}

.navbar-toggle #openMenu {
    display: block;
}


.navbar-dropdown {
    display: none;
    position: absolute;
    top: 3.375rem;
    left: 0;
    background-color: var(--primary-white);
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
    flex-direction: column;
}

.navbar-dropdown.active {
    display: flex;
}

.navbar-dropdown ul {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
}

.navbar-dropdown li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-bottom: 1px solid #eaeaea;
}

.navbar-dropdown li:last-child {
    border-bottom: none;
}

.navbar-dropdown a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    display: block;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/* Hero Section Styles */
.hero {
    background-image: url(assets/img/pyramid-landscape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary-white);
    padding: 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin: 20px;
}

--primary-white--primary-white .hero p {
    max-width: 600px;
    margin-bottom: 20px;
}

/* Button Styles */
button {
    font-family: var(--call-to-action);
    font-weight: var(--call-to-action-weight);
}

.btn-bookNow a {
    color: var(--primary-white);
    text-decoration: none;
}

.btn-bookNow {
    background-color: var(--primary-black);
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
}

.btn-bookNow:hover {
    background-color: var(--primary-red);
    border-radius: 10px;
    padding: .75rem;
    font-size: 1.05rem;
    color: var(--primary-black);
    transition: all 0.3s ease;
}

/* Heading Styles */
h1,
h2,
h3,
h4,
h5,
h6,
body,
header {
    font-family: var(--regular-heading);
    font-weight: var(--regular-heading-weight);
}

/* Main Content */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Blockquote Style */
blockquote {
    font-family: var(--quotes);
    font-weight: var(--quotes-weight);
}

/* Section Styles */
.about-us,
.guest-reviews,
.special-offers,
.gallery,
.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

.description {
    width: 100%;
}

.reviews-container,
.offers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.review,
.offer {
    width: 300px;
    padding: 10px;
    border: 1px solid var(--primary-black);
    border-radius: 5px;
    background-color: var(--primary-green);
    color: var(--primary-white);
}

.divider {
    border: 1px solid var(--primary-black);
}

.offer-img {
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: 1s;
}

.offer-img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 400px;
    height: 400px;
}

.price span {
    font-weight: bold;
}

.carousel-item img {
    width: 90%;
    height: 500px;
    object-fit: contain;
}

.events {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.event {
    background-color: var(--primary-green);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.event:not(:first-child) {
    grid-column: 2 / 3;
}

.events h2,
.event h3,
.event p {
    text-align: left;
}

.event+.event {
    border-top: 1px solid var(--primary-black);
    padding-top: 20px;
    margin-top: 20px;
}

.event-date {
    font-weight: bold;
    color: var(--primary-green);
}

.read-more {
    color: var(--primary-red);
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: var(--primary-black);
    color: var(--primary-white);
    padding: 1rem;
    text-align: center;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: start;
    margin-bottom: 20px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-copyright {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 20px;
}


/* Media Queries */

/* xs */
@media (min-width: 475px) {
    .page-container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .page-container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .page-container {
        max-width: 768px;
    }



}

/* lg */
@media (min-width: 1024px) {
    .page-container {
        max-width: 1024px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .page-container {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .page-container {
        max-width: 1536px;
    }
}