/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Playfair+Display:ital@0;1&family=Roboto+Slab:wght@100;400&display=swap');

/* Setting up root variables for easy theme management */
:root {
    --regular-heading: 'Roboto Slab', serif;
    --regular-heading-weight: 400;
    --call-to-action: 'Roboto Slab', serif;
    --call-to-action-weight: 100;
    --body: 'Open Sans', sans-serif;
    --body-weight: 300;
    --quotes: 'Playfair Display', serif;
    --quotes-weight: 400;
    --primary-red: #D21034;
    --primary-white: #FFFFFF;
    --primary-black: #000000;
    --primary-green: #007229;
}

/* Universal style: Sets the default font for all elements */
* {
    font-family: var(--body);
    font-weight: var(--body-weight);
}

/* Body style: Removes default margin and padding, sets background color */
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-white);
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hero {
    background-image: url(assets/img/pyramid-landscape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary-white);
    padding: 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin: 20px;

}

.hero p {
    max-width: 600px;
    margin-bottom: 20px;

}

.hero button a {
    color: var(--primary-white);
    text-decoration: none;
}

.hero button {
    background-color: var(--primary-black);
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;

}

.hero button:hover {
    background-color: var(--primary-red);
    border-radius: 10px;
    padding: .75rem;
    font-size: 1.05rem;
    text-decoration: none;
    color: var(--primary-black);
    transition: all 0.3s ease;
}

/* Heading styles: Applies specific font and weight to all heading elements and body */
h1,
h2,
h3,
h4,
h5,
h6,
body,
header {
    font-family: var(--regular-heading);
    font-weight: var(--regular-heading-weight);
}

main {
    flex-grow: 1;
}

/* Button styles: Sets the font for buttons */
button {
    font-family: var(--call-to-action);
    font-weight: var(--call-to-action-weight);
}

/* Blockquote style: Sets the font for blockquote elements */
blockquote {
    font-family: var(--quotes);
    font-weight: var(--quotes-weight);
}

/* Navbar styling: Sets background color, positioning, and layout */
nav {
    background-color: var(--primary-black);
    border-bottom: 40px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-around;
}

/* Style for unordered lists: Sets list style, layout, and spacing */
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    gap: 20px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 10px;
}

/* Style for links in the list: Sets text decoration and color */
ul a {
    text-decoration: none;
    color: white;
}

/* Hover effect for links: Changes background color, border radius, padding, font size, and transition effects */
nav ul a:hover {
    background-color: var(--primary-red);
    border-radius: 10px;
    padding: .75rem;
    font-size: 1.05rem;
    text-decoration: none;
    color: var(--primary-black);
    transition: all 0.3s ease;
}

/* Line-height for nav items: Ensures consistent line spacing */
.nav-item {
    line-height: 1.5;
}

footer {
    background-color: var(--primary-black);
    color: var(--primary-white);
    padding: 1rem;
    text-align: center;
    position: sticky;
    bottom: 0;
}