/* Importing fonts from Google Fonts and icons from Bootstrap Icons */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

/* Root Variables for Theme Management */
:root {
    --regular-heading: 'Montserrat', sans-serif;
    --regular-heading-weight: 400;
    --call-to-action: 'Roboto Slab', serif;
    --call-to-action-weight: 100;
    --body: 'Open Sans', sans-serif;
    --body-weight: 300;
    --quotes: 'Playfair Display', serif;
    --quotes-weight: 400;
    --primary-red: #D21034;
    --primary-white: #FFFFFF;
    --primary-black: #000000;
    --primary-green: #007229;
}

/* Universal Styles */
* {
    font-family: var(--body);
    font-weight: var(--body-weight);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Page Container */
.page-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Body Style */
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-white);
}

/* Header and Navigation Styles */
.navbar-container {
    /* Add styles if needed */

}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0.625rem;
    width: 100%;
}

.navbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navigation-box {
    position: relative;
    width: 16px;
    height: 16px;
}

.cs-line {
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: black;
    left: 0;
    transition: transform 0.3s ease;
}

.cs-line1 {
    top: 0;
}

.cs-line2 {
    top: 50%;
    transform: translateY(-50%);

}

.cs-line3 {
    bottom: 0;
}

/* Book Now Button Styles */
.button.book-now {
    background-color: var(--primary-white);
    border: 1px solid var(--primary-white);
    color: #1a1a1a;
    font-weight: bold;
    padding: .625rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .6875rem;
    letter-spacing: .15625rem;
    line-height: .75rem;
    text-align: center;
    transition: all .5s cubic-bezier(.24, .5, .22, .89);
}

.button.book-now:hover {
    background-color: var(--primary-black);
    color: var(--primary-white);
}

/* General Button Styles */
.button {
    overflow: visible;
    margin: 0;
    -webkit-appearance: none;
    background: transparent;
    font: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    min-width: 11.25rem;
    padding: 1rem .875rem;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    font-size: .6875rem;
    font-weight: 700;
    letter-spacing: .15625rem;
    line-height: .75rem;
    text-align: center;
    text-transform: uppercase;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-brand img {
    height: 100px;
    max-height: 100%;
    width: auto;
}

/* Hero Section Styles */
.hero {
    background-image: url(assets/img/pyramid-landscape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary-white);
    padding: 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin: 20px;
}

/* Main Content Styles */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Section Styles */
.about-us,
.guest-reviews,
.special-offers,
.gallery,
.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

/* Additional styles for specific sections (e.g., reviews-container, offers, etc.) */

/* Footer Styles */
footer {
    background-color: var(--primary-black);
    color: var(--primary-white);
    padding: 1rem;
    text-align: center;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: start;
    margin-bottom: 20px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

/* Media Queries for Responsive Design */
/* xs */
@media (min-width: 475px) {
    .page-container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .page-container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .page-container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .page-container {
        max-width: 1024px;
    }

}

/* xl */
@media (min-width: 1280px) {
    .page-container {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .page-container {
        max-width: 1536px;
    }
}