/* Importing fonts from Google Fonts and icons from Bootstrap Icons */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Lato&family=Raleway:wght@700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

/* Root Variables for Theme Management */
:root {
    --regular-heading: 'Cormorant Garamond', sans-serif;
    --call-to-action: 'Raleway', serif;
    --body: 'Lato', sans-serif;
    --body-weight: 400;
    --quotes: 'Playfair Display', serif;
    --primary-red: #D21034;
    --primary-white: #FFFFFF;
    --primary-black: #000000;
    --primary-green: #007229;
    --clr-light: #fdffc4;
    --clr-dark: #00332a;
}

/* Universal Styles */
* {
    font-family: var(--body);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Container that limits the width of the content based on viewport */
.page-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.darkmode {
    --clr-light: #fdffc4;
    --clr-dark: #00332a;
    --clr-primary: #202302;
    --clr-secondary: #00100d;
    --clr-accent: #ff7750;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}




/* Body styling, setting up the default background color */
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-white);
}


/* General Button Styles */
.button {
    overflow: visible;
    margin: 0;
    -webkit-appearance: none;
    background: transparent;
    font: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    min-width: 11.25rem;
    padding: 1rem .875rem;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    font-size: .6875rem;
    font-weight: 700;
    letter-spacing: .15625rem;
    line-height: .75rem;
    text-align: center;
    text-transform: uppercase;
}




/* Hero Section Styles */
.hero {
    background-image: url(assets/img/pyramid-landscape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary-white);
    padding: 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin: 20px;
}

/* Main Content Styles */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Section Styles */
.about-us,
.guest-reviews,
.special-offers,
.gallery,
.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

/* Additional styles for specific sections (e.g., reviews-container, offers, etc.) */

/* Footer Styles */
footer {
    background-color: var(--primary-black);
    color: var(--primary-white);
    padding: 1rem;
    text-align: center;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: start;
    margin-bottom: 20px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

/* Dark Mode */
body.dark-mode {
    background-color: #000;
    color: #fff;
}




/* Add more styles as needed */
/* Media Queries for Responsive Design */
@media only screen and (min-width: 0em) {}


/* xs */
@media (min-width: 475px) {
    .page-container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .page-container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .page-container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .page-container {
        max-width: 1024px;
    }

}

/* xl */
@media (min-width: 1280px) {
    .page-container {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .page-container {
        max-width: 1536px;
    }
}